.roboto-normal {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "width" 100;
}

.winky-rough-normal {
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif, system-ui;
}

body {
    margin: 0 auto;
    padding: 0 auto;
}

.flex-container {
    height: 100vh;

    display: flex;
}

.sidebar {
    flex: 1 1 30%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-image: url(https://images.pexels.com/photos/2215534/pexels-photo-2215534.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200%;
}

.main {
    flex: 4 4 70%;
    flex-direction: column;
    justify-content: center;
    overflow: auto;

    background-color: #fafafa;
}

.logo {
    height: 20%;

    flex: 1 1 1;
    position: relative;
    top: 20%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.7);
}

.logo img {
    display: inline;
    padding: 20px;
}

.logo p {
    color: white;
    font-size: 4rem;
    font-family: "Winky Rough", sans-serif, system-ui;
}

.credit {
    flex: 1 1 1;
    align-self: flex-end;

    padding: 1px;
    margin: 8px auto;

    font-size: 0.8rem;
    text-align: center;
    color: white;

    background-color: rgba(0, 0, 0, 0.3);
}

.credit a:link,
.credit a:visited {
    color: inherit;
    text-decoration: underline;
}

.main > p {
    margin-left: 40px;
    margin-right: 35%;

    flex: 0 1 auto;
}

.introduction {
    font-weight: bold;
    font-size: 1.1rem;
}

form {
    flex: 0 1 10%;
    flex-basis: 10%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-start;
}

form button {
    padding: 10px 40px;
    border: 0px;
    border-radius: 5px;
    margin: 5px 5px 5px 40px;

    box-shadow: 3px 3px 5px rgba(127, 127, 127, 0.3);

    flex: 0 1 auto;
    align-self: flex-start;

    font-weight: bold;
    color: white;

    background-color: darkgreen;
}

.form-container {
    flex: 1 1 auto;
    align-self: flex-start;

    display: flex;
    flex-direction: column;

    margin-bottom: 40px;

    background-color: white;
    box-shadow: 7px 3px 5px 1px rgba(127, 127, 127, 0.4);
}

.form-data {
    padding: 20px 0px;
    margin-left: 40px;
    margin-right: 35%;

    flex: 1 1 30%;
    align-self: flex-start;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    row-gap: 1px;
}

.form-data h2 {
    flex: 1;
    flex-basis: 100%;

    margin: 8px auto;

    font-size: 1.2rem;
}

.form-data div {
    padding: 5px 15px 5px 0px;

    flex: 1;
    flex-basis: 50%;

    display: flex;
    flex-direction: column;
}

label {
    font-size: 0.9rem;
}

input {
    border: 1px solid gray;
    border-radius: 3px;
    box-shadow: 0px;
}

input:focus {
    outline: 2px solid dodgerblue;
}

.password:invalid {
    outline: 2px solid indianred;
}
